#layout pyenv 3.8.18
#layout pyenv 3.9.16
#layout pyenv 3.10.14
layout pyenv 3.11.9
#layout pyenv 3.12.2

export GOOGLE_APPLICATION_CREDENTIALS="/Users/john/Library/Credentials/Rasa/johnt/rasa-releases-388754bfb742.json"
export NUMEXPR_MAX_THREADS=8
export OPENAI_API_KEY="$(OP_ACCOUNT=PSV4WPM74NEL5BPIEQQGA5OYTQ op item get 4dmp6a6vpql6etxhcqa2icinq4 --fields 'api key')"
export RASA_PRO_BETA_REPHRASE=false
export RASA_PRO_LICENSE="$(cat /Users/john/Library/Credentials/Rasa/johnt/rasa-pro-license.txt)"
export SQLALCHEMY_SILENCE_UBER_WARNING=1
export SQLALCHEMY_WARN_20=0
